<p>
    <mat-toolbar class="toolbar-background">
    <button *ngIf="this.showBackButtonVar" style="bottom: 1px;" mat-icon-button (click)="this.location.back();">
      <span class="material-icons">
        arrow_back
      </span>
    </button> 
    <span>{{this.pathName}}</span>
    <span style="flex: 1 1 auto"></span>
    <div *ngIf="(AuthService.currentUser$ | async) as authUser" [@welcomeAnimation]>
      <button class="user-button" mat-button [matMenuTriggerFor]="userMenu">
        <span>{{welcomePrefix}} {{authUser.firstname}}! </span>
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu" xPosition="before">
        <button mat-menu-item *ngIf="authUser.accountType === 'Admin'" [routerLink]="['/admin-dashboard']" >Admin Dashboard</button>
        <button mat-menu-item [routerLink]="[ '/account']">Account Information</button>
        <button mat-menu-item (click)="logout()">Log Out</button>
      </mat-menu>
    </div>
    
  </mat-toolbar>
</p>