<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="250px">

    <mat-grid-tile [colspan]="2" [rowspan]="1" class="tile">
      <a>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Header Card
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Card Content Here</div>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a routerLink='/collections'>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Manage your Collections
            </mat-card-title>
          </mat-card-header>
          <div class="collections-card"></div>
          <!-- <mat-card-content class="dashboard-card-content"> -->
            <!-- <img  src="../../assets/collections-page.png" alt="Chess Board Page Image" class="responsive"> -->
          <!-- </mat-card-content> -->
        </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <a routerLink='/board'>
      <mat-card class="dashboard-card ">
        <mat-card-header>
          <mat-card-title>
            The Board
          </mat-card-title>
        </mat-card-header>
        <div class="board-card"></div>
          <!-- <img src="../../assets/board-page.png" alt="Chess Board Page Image" class="responsive"> -->
      </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a routerLink='/information'>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Information
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Card Content Here</div>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>

  </mat-grid-list>
</div>
