@import '../../../styles.scss';

.grid-container {
  padding: 0px 40px;
}

.tile {
  overflow: visible;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
  margin: auto;
}

.responsive {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.dashboard-card {
  transition: transform .2s;
  text-align: center;
}

.dashboard-card:hover {
  transform: scale(1.025);
}

