<div class="login-card-container">
  <mat-card class="card">
    <mat-tab-group dynamicHeight mat-align-tabs="center">
      <mat-tab label="Login"> 
        <div style="text-align: center; margin-top: 24px">
          <img src="../../../assets/logo 137x150.png" alt="">
        </div>
        <form [formGroup]="loginForm">
          <mat-card-content class="card-content-container">
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" type="email" matInput>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error class="input-error-fix" *ngIf="loginForm.controls.email.hasError('required')">
                  Please enter your email.
                </mat-error>
                <mat-error class="input-error-fix" *ngIf="loginForm.controls.email.hasError('email')">
                  Please enter a valid email.
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]=" showHidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="showHidePassword = !showHidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showHidePassword">
                  <mat-icon>{{showHidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="input-error-fix" *ngIf="loginForm.controls.password.hasError('required')">
                  Please enter a password.
                </mat-error>
              </mat-form-field>
            </p>
            <mat-error *ngIf="loginError.length > 0">
              {{loginError}}
            </mat-error>
          </mat-card-content>
          <mat-card-actions class="button-container">
            <p><button [disabled]="loginForm.invalid || this.disableBtn" type="submit" mat-raised-button color="primary" (click)="loginSubmit()">Login</button></p>
            <div><button *ngIf="!this.resetRequestDone" mat-button color="accent" (click)="requestPasswordReset()">Reset Password</button></div>
            <p *ngIf="this.resetRequestDone">{{this.resetRequestMessage}}</p>
          </mat-card-actions>
        </form>
      </mat-tab>

      <mat-tab label="Signup"> 
        <form [formGroup]="signupForm">
          <mat-card-content class="card-content-container">
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Firstname</mat-label>
                <input formControlName="firstname" type="text" matInput>
                <mat-icon matSuffix>local_offer</mat-icon>
                <mat-error class="input-error-fix" *ngIf="signupForm.controls.firstname.hasError('required')">
                  Please enter your first name.
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Surname</mat-label>
                <input formControlName="surname" type="text" matInput>
                <mat-icon matSuffix>local_offer</mat-icon>
                <mat-error class="input-error-fix" *ngIf="signupForm.controls.surname.hasError('required')">
                  Please enter your surname name.
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" type="email" matInput>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error class="input-error-fix" *ngIf="signupForm.controls.email.hasError('required')">
                  Please enter your email.
                </mat-error>
                <mat-error class="input-error-fix" *ngIf="signupForm.controls.email.hasError('email')">
                  Please enter a valid email.
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput [type]="showHidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="showHidePassword = !showHidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showHidePassword">
                  <mat-icon>{{showHidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="input-error-fix" *ngIf="signupForm.controls.password.hasError('required')">
                  Please enter a password.
                </mat-error>
                <mat-error class="input-error-fix" *ngIf="signupForm.controls.password.hasError('minlength')">
                  Password must be atleast 6 characters.
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input formControlName="confirmPassword" matInput [type]="showHidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="showHidePassword = !showHidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showHidePassword">
                  <mat-icon>{{showHidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="input-error-fix" *ngIf="signupForm.controls.confirmPassword.hasError('required')">
                  Please enter your password again.
                </mat-error>
                <mat-error class="input-error-fix" *ngIf="signupForm.controls.confirmPassword.hasError('isMatching')">
                  Passwords must match exactly.
                </mat-error>
              </mat-form-field>
            </p>
            <mat-error *ngIf="signupError.length > 0">
              {{signupError}}
            </mat-error>
          </mat-card-content>
        
          <mat-card-actions class="button-container">
            <button [disabled]="this.signupForm.invalid || this.disableBtn" type="submit" mat-raised-button color="primary" (click)="signupSubmit()">Signup</button>
          </mat-card-actions>
        </form>
      </mat-tab>
    </mat-tab-group>   
  </mat-card>
</div>

