.login-card-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.card-content-container {
  text-align: center;
  margin-top: 25px;
}

.button-container {
  margin: auto;
  text-align: center;
}

.input-error-fix {
  height: 16px;
}