.login-card-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  max-width: 325px;
}

.card {
  box-shadow: none;
  padding: 0;
}

.card-content-container {
  text-align: center;
  margin-top: 25px;
  p > mat-form-field {
    width: 100%;
  }
}

.button-container {
  margin: auto;
  text-align: center;
}

.input-error-fix {
  height: 16px;
}