<h2 mat-dialog-title>Manage your Fen</h2>
  <form
  [formGroup]="saveCollectionForm" [@slideFromLeft]> 
    <mat-form-field appearance="outline">
      <mat-label>Collection Title</mat-label>
      <input matInput formControlName="collectionTitle">
      <mat-error class="input-error-fix" 
      *ngIf="saveCollectionForm.controls.collectionTitle.hasError('required') && 
      saveCollectionForm.controls.collectionTitle.touched">
        A Title is required.
      </mat-error>
      <mat-error class="input-error-fix" 
      *ngIf="saveCollectionForm.controls.collectionTitle.hasError('maxLength') && 
      saveCollectionForm.controls.collectionTitle.touched">
        Title is too long.
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline" style="width: -webkit-fill-available">
    <mat-label>Fen</mat-label>
    <textarea matInput formControlName="fenstring" placeholder="And 'fen I moved..."></textarea>
    <mat-error class="input-error-fix" *ngIf="saveCollectionForm.controls.fenstring.hasError('required') && saveCollectionForm.controls.fenstring.touched">
      A FEN is required.
    </mat-error>
    <mat-error class="input-error-fix" *ngIf="saveCollectionForm.controls.fenstring.hasError('maxLength')">
      That FEN looks pretty long! 
    </mat-error>
    </mat-form-field>
  </form>
<div>
  <button [disabled]="saveCollectionForm.invalid" mat-stroked-button color="primary" (click)="this.addFen()">Add</button>
</div>

<ng-container *ngIf="this.collection.fens">
  <div *ngIf="this.collection.fens.length > 0" [@slideFromBottom]>
    <hr>
    <div style="width: 100%" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div cdkDrag class="example-box" *ngFor="let fen of collection.fens; let i = index">
          {{fen}}
        <button mat-icon-button color="warn" aria-label="Delete Icon for Deleting Fen">
          <mat-icon (click)="removeFen(i); $event.preventDefault()">delete</mat-icon>
        </button>
      </div>
    </div>
    <div style="display: flex; justify-content: left;">
      <button mat-raised-button color="primary" class="save-buttons" 
      *ngIf="data.parent === 'board'" (click)="import()">
        Import
      </button>
      <button mat-raised-button color="primary" class="save-buttons"
      (click)="saveCollection()" *ngIf="this.collection.fens.length > 1 && !data.collection" 
      [disabled]="saveCollectionForm.controls.collectionTitle.hasError('required')" 
      [@slideFromLeft]>
        Save Collection
      </button>
      <button mat-raised-button color="primary" class="save-buttons"
      (click)="updateCollection()" *ngIf="this.collection.fens.length > 0 && data.collection" 
      [disabled]="saveCollectionForm.controls.collectionTitle.hasError('required')" 
      [@slideFromLeft]>
        Update Collection
      </button>
    </div>
  </div>
</ng-container>

