<!-- Page Container  -->
<div #pageContainer class="board-page-container" (window:resize)="pageContainerResize($event)">

  <!-- Div Content Pieces -->
  <div class="piece-container" *ngIf="this.boardProfile.freeMode" [@uncoverFromLeft]>
    <div cdkDropList>
      <div 
      cdkDrag
      *ngFor="let piece of additionalWhitePieces; let i = index" 
      (cdkDragStarted)="dragStarted(piece)" 
      (cdkDragDropped)="dragStopped()"  
      class="example-box"
      [ngStyle]="{
        'width.px': (this.boardProfile.boardSize / 8), 
        'height.px': (this.boardProfile.boardSize / 8),
        'font-size.px': (this.boardProfile.boardSize / 8)
      }">
        <span *ngIf="piece.pieceImgSrc.length === 1">{{piece.pieceImgSrc}}</span>
        <img style="width: 100%; height: 100%;" *ngIf="piece.pieceImgSrc.length > 1" src={{piece.pieceImgSrc}}>
      </div>
    </div>
    <div cdkDropList>
      <div 
      cdkDrag
      *ngFor="let piece of additionalBlackPieces; let i = index" 
      (cdkDragStarted)="dragStarted(piece)" 
      (cdkDragDropped)="dragStopped()"  
      class="example-box"
      [ngStyle]="{
        'width.px': (this.boardProfile.boardSize / 8), 
        'height.px': (this.boardProfile.boardSize / 8),
        'font-size.px': (((this.boardProfile.boardSize / 8) / 5) * 4)
      }">
      <span *ngIf="piece.pieceImgSrc.length === 1">{{piece.pieceImgSrc}}</span>
      <img style="width: 100%; height: 100%;" *ngIf="piece.pieceImgSrc.length > 1" src={{piece.pieceImgSrc}}>
      </div>
    </div>
  </div>

  <!-- Board Container  -->
  <div class="board-container" [ngStyle]="{'width': this.boardProfile.boardSize + 'px'}">

    <div *ngIf="this.boardProfile.coordinateLabel === CoordinateLabelEnum.Outside" [@slideFromBottom] class="letter-coord-container" [ngStyle]="{'height.px': this.boardProfile.coordinateSize, 'font-size.px': this.boardProfile.coordinateSize}">
      <ng-container *ngIf="!this.reversed">
        <div [ngStyle]="{'width.px': this.boardProfile.coordinateSize}"></div>
        <div class="coord-container" *ngFor="let coord of this.outsideCoordLetters">
          {{coord}}
        </div>
        <div [ngStyle]="{'width.px': this.boardProfile.coordinateSize}"></div>
      </ng-container>
      <ng-container *ngIf="this.reversed">
        <div [ngStyle]="{'width.px': this.boardProfile.coordinateSize}"></div>
        <div class="coord-container" *ngFor="let coord of this.outsideCoordLetters | reverse">
          {{coord}}
        </div>
        <div [ngStyle]="{'width.px': this.boardProfile.coordinateSize}"></div>
      </ng-container>
    </div>

    <div class="board-inner-container">

      <div *ngIf="this.boardProfile.coordinateLabel === CoordinateLabelEnum.Outside" [@slideFromRight] class="number-coord-container" [ngStyle]="{'width.px': this.boardProfile.coordinateSize, 'font-size.px': this.boardProfile.coordinateSize}">
        <ng-container *ngIf="!this.reversed">
          <div class="coord-container" *ngFor="let coord of this.outsideCoordNumbers">
            {{coord}} 
          </div>
        </ng-container>
        <ng-container *ngIf="this.reversed">
          <div class="coord-container" *ngFor="let coord of this.outsideCoordNumbers | reverse">
            {{coord}}
          </div>
        </ng-container>
      </div>
      <ngx-chess-board
        #board style="line-height: normal;"
        [size]="(this.boardProfile.coordinateLabel === CoordinateLabelEnum.Outside) ? this.boardProfile.boardSize - ((this.boardProfile.coordinateSize + 4) * 2) : this.boardProfile.boardSize"
        [freeMode]="this.boardProfile.freeMode"
        [showCoords]="(this.boardProfile.coordinateLabel === CoordinateLabelEnum.Inside) ? true : false"
        [lightTileColor]="this.boardProfile.lightTileColour"
        [darkTileColor]="this.boardProfile.darkTileColour"
        [sourcePointColor]="'none'"
        [destinationPointColor]="'none'"
        [showLastMove]="false"
        [showLegalMoves]="false"
        [showActivePiece]="false"
        [showPossibleCaptures]="false"
        [pieceIcons]="this.pieces"
        (moveChange)="this.pieceMoved()"
        >
      </ngx-chess-board>
    
      <div *ngIf="this.dragging" class="overlay" [ngStyle]="{'height.px': this.boardProfile.boardSize, 'width.px': this.boardProfile.boardSize }">
        <mat-grid-list *ngIf="this.dragging" cols="8" rowHeight="8:8">
          <ng-container *ngIf="this.reversed">
            <mat-grid-tile 
              *ngFor="let grid of this.boardService.grids | reverse" 
              (mouseup)="this.mouseUpEvent($event)" 
              id="{{grid.coord}}">
            </mat-grid-tile>
          </ng-container>
          <ng-container *ngIf="!this.reversed">
            <mat-grid-tile 
              *ngFor="let grid of this.boardService.grids" 
              (mouseup)="this.mouseUpEvent($event)" 
              id="{{grid.coord}}">
            </mat-grid-tile>
          </ng-container>
        </mat-grid-list>
      </div>

      <div *ngIf="this.boardProfile.coordinateLabel === CoordinateLabelEnum.Outside" [@slideFromLeft] class="number-coord-container" [ngStyle]="{'width.px': this.boardProfile.coordinateSize, 'font-size.px': this.boardProfile.coordinateSize}">
        <ng-container *ngIf="!this.reversed">
          <div class="coord-container" *ngFor="let coord of this.outsideCoordNumbers">
            {{coord}} 
          </div>
        </ng-container>
        <ng-container *ngIf="this.reversed">
          <div class="coord-container" *ngFor="let coord of this.outsideCoordNumbers | reverse">
            {{coord}}
          </div>
        </ng-container>
      </div>
    </div>

    <div *ngIf="this.boardProfile.coordinateLabel === CoordinateLabelEnum.Outside" [@slideFromTop] class="letter-coord-container" [ngStyle]="{'height.px': this.boardProfile.coordinateSize, 'font-size.px': this.boardProfile.coordinateSize}">
      <ng-container *ngIf="!this.reversed">
        <div [ngStyle]="{'width.px': this.boardProfile.coordinateSize}"></div>
        <div class="coord-container" *ngFor="let coord of this.outsideCoordLetters">
          {{coord}}
        </div>
        <div [ngStyle]="{'width.px': this.boardProfile.coordinateSize}"></div>
      </ng-container>
      <ng-container *ngIf="this.reversed">
        <div [ngStyle]="{'width.px': this.boardProfile.coordinateSize}"></div>
        <div class="coord-container" *ngFor="let coord of this.outsideCoordLetters | reverse">
          {{coord}}
        </div>
        <div [ngStyle]="{'width.px': this.boardProfile.coordinateSize}"></div>
      </ng-container>
    </div>
  </div>

  <!-- Controls Container -->
  <div class="controls-container">
    <button mat-button color="primary" matTooltip="Board styling" (click)="this.openBoardStyleModal()">
      <mat-icon class="material-icons-outlined">palette</mat-icon>
    </button>
    <button mat-button color="primary" matTooltip="Reset the Board" (click)="this.reset()">
      <mat-icon class="material-icons-outlined">refresh</mat-icon>
    </button>
    <button mat-button color="primary" matTooltip="Rotate the Board" (click)="this.reverse()">
      <mat-icon class="material-icons-outlined rotate-icon">loop</mat-icon>
    </button>
    <button mat-button color="primary" matTooltip="Clear all Pieces" (click)="this.clearPieces()">
      <i class="icon icon-24 chess-app-icon-clear-piece"></i>
    </button>
    <button mat-button color="primary" matTooltip="Clear all Markers" (click)="this.clearMarkers()">
      <i class="icon icon-24 chess-app-icon-clear-markers"></i>
    </button>
    <button *ngIf="!this.boardProfile.freeMode" mat-button color="primary" matTooltip="Toggle Free Mode" (click)="this.boardProfile.freeMode = !this.boardProfile.freeMode">
      <mat-icon class="material-icons-outlined">lock</mat-icon>
    </button>
    <button *ngIf="this.boardProfile.freeMode" mat-button color="accent" matTooltip="Toggle Free Mode" (click)="this.boardProfile.freeMode = !this.boardProfile.freeMode">
      <mat-icon class="material-icons-outlined">lock</mat-icon>
    </button>
    <button mat-button color="primary" matTooltip="Help & Info" (click)="this.openHelp()">
      <mat-icon class="material-icons-outlined">help_outline</mat-icon>
    </button>
    <button class="bottom-button" color="primary" mat-button matTooltip="Resize the Board" (mousedown)="this.resizingHold = true" (window:mouseup)="this.resizingHold = false; this.mouseXCoord = null;">
      <mat-icon class="material-icons-outlined">aspect_ratio</mat-icon>
    </button>
  </div>

  <!-- Move History & Fen Container  -->
  <div class="history-fen-container">

    <div class="move-history-container">
      <h2 class="move-history-header">Move History</h2>
      <div class="move-history-content">
        <app-move-history
          [moveHistoryArray] = this.moveHistoryArray
          [freeMode] = this.boardProfile.freeMode
          >
        </app-move-history>
      </div>
      <div class="move-history-footer">
        <button mat-stroked-button [disabled]="!this.moveHistoryArray.length" (click)="this.undo()">
          <mat-icon class="back-icon">arrow_back_ios</mat-icon>
        </button>
        <button mat-stroked-button class="right-button" [disabled]="true">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>

    <mat-card class="fen-management-card">
      <mat-card-header>
        <mat-card-title>Fen Management</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="this.collection">
          <div style="display: block">
            <div *ngIf="this.collection.fens.length > 0" style="width: 100%; display: flex; justify-content: center;">
              <span>Navigate your Fens</span>
            </div>
            <div *ngIf="this.collection.fens.length > 0" style="margin-bottom: 5px;">
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon (click)="navigateFen('first')">first_page</mat-icon>
              </button>
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon (click)="navigateFen('previous')">chevron_left</mat-icon>
              </button>
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon (click)="navigateFen('next')">chevron_right</mat-icon>
              </button>
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon (click)="navigateFen('last')">last_page</mat-icon>
              </button>
            </div>
            <div *ngIf="this.collection.fens.length > 0 && this.activeFenPosition" style="width: 100%; display: flex; justify-content: center;">
              <p>{{this.activeFenPosition}} / {{this.collection.fens.length}}</p>
            </div>
            <div *ngIf="this.collection.fens.length > 0 && !this.activeFenPosition" style="width: 100%; display: flex; justify-content: center;">
              <p> 0 / {{this.collection.fens.length}}</p>
            </div>
          </div>
        </ng-container>
        <div>
          <p *ngIf="!this.loggedIn">Login to access your Fens.</p>
          <button *ngIf="this.loggedIn" class="fen-bottom-buttons" mat-stroked-button color="primary" (click)="this.openFenCollectionsDialog()">Fen Collections</button>
          <button *ngIf="this.collection && this.collection.fens.length > 0" class="fen-bottom-buttons" mat-stroked-button color="accent" (click)="this.clearFens()">Clear</button>
        </div>
      </mat-card-content>
    </mat-card> 

  </div>
</div>
