.page-container {
  height: calc(100vh - 96px);
  text-align: center;
  width: 50%;
  margin: auto;
  justify-content: center;
  color: #1565c0;
  padding: 16px;

  .logo-container {
    height: 50%;
  } img {
    max-height: 100%;
  }

  .text-buttons-container {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bolder;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

    .landing-buttons {
      margin: 5px;
      height: 48px;
      font-size: 18px;
      width: 180px;
    }
  }
}
