@import '../styles.scss';

.floating-buttons-container {
    margin: 0px 12px;
    padding: 0px;
    position: fixed;
    z-index: 5;
    bottom: 24px;
    top: auto;
    height: 70px;
    width: 130px;
    border-radius: 29px;
    background: none;
    display: block;
    left: 12px;
}
