
.move-container {
  height: auto;
}

.number-node {
  display: inline;
  width: 4rem;
  margin-left: 1rem;
}

.white-node {
  width: 4rem;
  left: 5rem;
  display: inline;
}

.black-node {
  width: 4rem;
  left: 9rem;
  display: inline;
}

.free-mode-message {
  padding: 16px;
  font-size: small;

  p {
    margin: 0
  };
}

.move-row {
  display: flex;
}

.move-row-background {
  background-color: lightgrey;
}
