<mat-card [@fadeInOut] class="card">
      <h2>Reset Password</h2>
      <div style="margin-top: 24px">
        <img routerLink='/landing-page' style="cursor: pointer;" src="../../../assets/logo 137x150.png" alt="">
      </div>
      <form [formGroup]="passwordResetFormGroup">
        <mat-card-content class="card-content-container">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput [type]="hidePassword ? 'text' : 'password'">
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error class="input-error-fix" *ngIf="passwordResetFormGroup.controls.password.hasError('required')">
                Please enter a password.
              </mat-error>
              <mat-error class="input-error-fix" *ngIf="passwordResetFormGroup.controls.password.hasError('minlength')">
                Password must be atleast 6 characters.
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input formControlName="confirmPassword" matInput [type]="hidePassword ? 'text' : 'password'">
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error class="input-error-fix" *ngIf="passwordResetFormGroup.controls.confirmPassword.hasError('required')">
                Please enter your password again.
              </mat-error>
              <mat-error class="input-error-fix" *ngIf="passwordResetFormGroup.controls.confirmPassword.hasError('isMatching')">
                Passwords must match exactly.
              </mat-error>
            </mat-form-field>
          </p>
          <!-- <mat-error *ngIf="loginError.length > 0">
            {{loginError}}
          </mat-error> -->
        </mat-card-content>
        <mat-card-actions class="button-container">
          <button [disabled]="passwordResetFormGroup.invalid || this.disableBtn" type="submit" mat-raised-button color="primary" (click)="resetSubmit()">Reset</button>
        </mat-card-actions>
      </form> 
  
</mat-card>
