<div class="login-card-container">
  <mat-card>
    <mat-tab-group dynamicHeight>
      <mat-tab label="Login"> 
        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
          <mat-card-content style="text-align: center; margin-top: 25px;">
            
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]=" showHidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="showHidePassword = !showHidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showHidePassword">
                  <mat-icon>{{showHidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </p>
            
          </mat-card-content>
          <mat-card-actions style="margin: auto; text-align: center;">

            <button type="submit" mat-raised-button color="primary">Login</button>

          </mat-card-actions>
        </form>
      </mat-tab>

      <mat-tab label="Signup"> 
        <form [formGroup]="signupForm" (ngSubmit)="signupSubmit()">
          <mat-card-content style="text-align: center; margin-top: 25px;">
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Firstname</mat-label>
                <input formControlName="firstname" matInput>
                <mat-icon matSuffix>local_offer</mat-icon>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Surname</mat-label>
                <input formControlName="surname" matInput>
                <mat-icon matSuffix>local_offer</mat-icon>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput [type]="showHidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="showHidePassword = !showHidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showHidePassword">
                  <mat-icon>{{showHidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="showHidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="showHidePassword = !showHidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showHidePassword">
                  <mat-icon>{{showHidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </p>

            <p *ngIf="userAlreadyExists">
              This email address is already signed up.
            </p>
          </mat-card-content>
        
          <mat-card-actions style="margin: auto; text-align: center;">
            <button type="submit" mat-raised-button color="primary">Signup</button>
          </mat-card-actions>
        </form>
      </mat-tab>
    </mat-tab-group>   
    
  </mat-card>
</div>

