.radio-group {
  display: block;
  margin-bottom: 8px;
}

.radio-margin {
  margin-right: 8px;
}

.text-field {
  width: 100%;
}

.button-container {
  text-align: right;
  button {
    margin-right: 8px;
  }
}